{% extends "master.html" %}

{% block title %}Edit Sensor{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Sensor: {{ sensor.name }}</h1>
    <form method="post" class="d-inline">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Sensor Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ sensor.name }}" required>
        </div>
        <div class="mb-3">
            <label for="secret" class="form-label">Secret</label>
            <input type="text" class="form-control" id="secret" name="secret" value="{{ sensor.secret }}" required>
        </div>
        <div class="mb-3">
            <label for="owner" class="form-label">Owner</label>
            <select class="form-select" id="owner" name="owner" required>
                {% for user in users %}
                <option value="{{ user.id }}" {% if user == sensor.owner %}selected{% endif %}>{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="min_battery" class="form-label">Min Battery (Volts)</label>
            <input type="number" step="0.01" class="form-control" id="min_battery" name="min_battery" value="{{ sensor.min_battery }}">
        </div>
        <div class="mb-3">
            <label for="max_battery" class="form-label">Max Battery (Volts)</label>
            <input type="number" step="0.01" class="form-control" id="max_battery" name="max_battery" value="{{ sensor.max_battery }}">
        </div>
        <button type="submit" class="btn btn-primary me-5">Save Changes</button>
        <a href="{% url 'sensor_list' %}" class="btn btn-secondary me-5">Cancel</a>
    </form>
    {% if request.user == sensor.owner %}
    <form action="{% url 'delete_sensor' sensor.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger me-5" onclick="return confirm('Are you sure you want to delete this sensor?');">Delete sensor</button>
    </form>
    {% endif %}
</div>
{% endblock %}
